{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ponentes</title>
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="jumbotron">
                <div class="text-center">
                    <h1>Ponentes</h1>
                </div>
            </div>

            {% if info_message %}
                <div class="alert alert-success">
                    {{ info_message }}
                </div>
            {% endif %}

            <table id="tablaPonentes" class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Acciones</th>
                </tr>

                {% for ponente in ponentes %}
                    <tr class="row-ponente">
                        <td class="nom-ponente">{{ ponente.nombre }}</td>
                        <td class="pap-ponente">{{ ponente.primer_apellido }}</td>
                        <td class="sap-ponente">
                            {% if ponente.segundo_apellido %}
                                {{ ponente.segundo_apellido }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-warning glyphicon
                            glyphicon-pencil btn-editar"></a>
                            <a class="btn btn-danger glyphicon
                            glyphicon-erase btn-eliminar"></a>
                        </td>
                    </tr>
                {% endfor %}

            </table>

            <a id="btnNuevoPonente" href="{% url 'insertar_ponente' %}"
               class="btn btn-block btn-primary">
                Nuevo
            </a>

        </div>
    </div>
</div>

</body>
<script src="{% static 'lib/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

</html>