{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ponentes</title>
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="jumbotron">
                <div class="text-center">
                    <h1>Ponentes</h1>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                </tr>

                {% for ponente in ponentes %}
                    <tr>
                        <td>{{ ponente.nombre }}</td>
                        <td>{{ ponente.primer_apellido }}</td>
                        <td>
                            {% if ponente.segundo_apellido %}
                                {{ ponente.segundo_apellido }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>

            <a href="{% url 'insertar_ponente' %}"
               class="btn btn-block btn-primary">
                Nuevo
            </a>

        </div>
    </div>
</div>

</body>
<script src="{% static 'lib/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

</html>